<div class="container-fluid">

    <div class="container mt-25px ">
          <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                SUPER-ADMIN
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
        
            <div class="nav-links">
                <ul>
                    <li><a href="#" target="_blank">Login</a></li>
                    <li><a href="javascript:void(0);"  (click)="cargarControl(1)">Entidades</a></li>
                    <li><a href="javascript:void(0);"  (click)="cargarControl(2)">Usuarios</a></li>
                    <li><a href="#" target="_blank">Portfolio</a></li>
                    <li><a href="#" target="_blank">Contact</a></li>
                </ul>
            </div>
          </div>         
    </div>



    <div *ngIf="control==1">
      <app-entidades></app-entidades> 
    </div>
    
    <div  *ngIf="control==2">
      <app-usuarios></app-usuarios>
    </div>

</div>